<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上海</key>
	<array>
		<string>复旦大学</string>
		<string>同济大学</string>
		<string>上海交通大学</string>
		<string>华东理工大学</string>
		<string>东华大学</string>
		<string>华东师范大学</string>
		<string>上海外国语大学</string>
		<string>上海财经大学</string>
		<string>上海大学</string>
		<string>第二军医大学</string>
	</array>
	<key>云南</key>
	<array>
		<string>云南大学</string>
	</array>
	<key>内蒙古</key>
	<array>
		<string>内蒙古大学</string>
	</array>
	<key>北京</key>
	<array>
		<string>北京大学</string>
		<string>中国人民大学</string>
		<string>清华大学</string>
		<string>北京交通大学</string>
		<string>北京工业大学</string>
		<string>北京航空航天大学</string>
		<string>北京理工大学</string>
		<string>北京科技大学</string>
		<string>北京化工大学</string>
		<string>北京邮电大学</string>
		<string>中国农业大学</string>
		<string>北京林业大学</string>
		<string>北京中医药大学</string>
		<string>北京师范大学</string>
		<string>北京外国语大学</string>
		<string>中国传媒大学</string>
		<string>中央财经大学</string>
		<string>对外经济贸易大学</string>
		<string>北京体育大学</string>
		<string>中央音乐学院</string>
		<string>中央民族大学</string>
		<string>中国政法大学</string>
		<string>华北电力大学</string>
		<string>中科院</string>
	</array>
	<key>吉林</key>
	<array>
		<string>吉林大学</string>
		<string>延边大学</string>
		<string>东北师范大学</string>
	</array>
	<key>四川</key>
	<array>
		<string>四川大学</string>
		<string>西南交通大学</string>
		<string>电子科技大学</string>
		<string>四川农业大学</string>
		<string>西南财经大学</string>
	</array>
	<key>天津</key>
	<array>
		<string>南开大学</string>
		<string>天津大学</string>
		<string>天津医科大学</string>
	</array>
	<key>宁夏</key>
	<array>
		<string>宁夏大学</string>
	</array>
	<key>安徽</key>
	<array>
		<string>中国科学技术大学</string>
		<string>安徽大学</string>
		<string>合肥工业大学</string>
	</array>
	<key>山东</key>
	<array>
		<string>山东大学</string>
		<string>中国海洋大学</string>
		<string>中国石油大学</string>
	</array>
	<key>山西</key>
	<array>
		<string>太原理工大学</string>
	</array>
	<key>广东</key>
	<array>
		<string>中山大学</string>
		<string>暨南大学</string>
		<string>华南理工大学</string>
		<string>华南师范大学</string>
	</array>
	<key>广西</key>
	<array>
		<string>广西大学</string>
	</array>
	<key>新疆</key>
	<array>
		<string>新疆大学</string>
		<string>石河子大学</string>
	</array>
	<key>江苏</key>
	<array>
		<string>南京大学</string>
		<string>苏州大学</string>
		<string>东南大学</string>
		<string>南京航空航天大学</string>
		<string>南京理工大学</string>
		<string>中国矿业大学</string>
		<string>河海大学</string>
		<string>江南大学</string>
		<string>南京农业大学</string>
		<string>中国药科大学</string>
		<string>南京师范大学</string>
	</array>
	<key>江西</key>
	<array>
		<string>南昌大学</string>
	</array>
	<key>河北</key>
	<array>
		<string>河北工业大学</string>
	</array>
	<key>河南</key>
	<array>
		<string>郑州大学</string>
	</array>
	<key>浙江</key>
	<array>
		<string>浙江大学</string>
	</array>
	<key>海南</key>
	<array>
		<string>海南大学</string>
	</array>
	<key>湖北</key>
	<array>
		<string>武汉大学</string>
		<string>华中科技大学</string>
		<string>中国地质大学</string>
		<string>武汉理工大学</string>
		<string>华中农业大学</string>
		<string>华中师范大学</string>
		<string>中南财经政法大学</string>
	</array>
	<key>湖南</key>
	<array>
		<string>湖南大学</string>
		<string>中南大学</string>
		<string>湖南师范大学</string>
		<string>国防科学技术大学</string>
	</array>
	<key>甘肃</key>
	<array>
		<string>兰州大学</string>
	</array>
	<key>福建</key>
	<array>
		<string>厦门大学</string>
		<string>福州大学</string>
	</array>
	<key>西藏</key>
	<array>
		<string>西藏大学</string>
	</array>
	<key>贵州</key>
	<array>
		<string>贵州大学</string>
	</array>
	<key>辽宁</key>
	<array>
		<string>辽宁大学</string>
		<string>大连理工大学</string>
		<string>东北大学</string>
		<string>大连海事大学</string>
	</array>
	<key>重庆</key>
	<array>
		<string>重庆大学</string>
		<string>西南大学</string>
	</array>
	<key>陕西</key>
	<array>
		<string>西北大学</string>
		<string>西安交通大学</string>
		<string>西北工业大学</string>
		<string>西安电子科技大学</string>
		<string>西北农林科技大学</string>
		<string>陕西师范大学</string>
		<string>长安大学</string>
		<string>第四军医大学</string>
	</array>
	<key>青海</key>
	<array>
		<string>青海大学</string>
	</array>
	<key>黑龙江</key>
	<array>
		<string>哈尔滨工业大学</string>
		<string>哈尔滨工程大学</string>
		<string>东北农业大学</string>
		<string>东北林业大学</string>
	</array>
</dict>
</plist>
