
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <title>run method</title>
    <style>
       div.main{
        CMbackground-color: lightgreen;
        position:relative;
        left:5%;
        top:0px;
        width:90%;
      }
      .itemSize {
        width:100%;
        height:80px;
      }
      .itemBtn{
        CMbackground-color: blue;
        border-radius:20px;
      }
      ul li.withpad{
        padding-top: 10px;
      }
    </style>
    <script type="text/javascript" >
    </script>
  </head>

  <body class="main">
    <div class="main">
        <%- partial('../errorPage.ejs') %>

        <div>
          <pre>
            <%= textInPre %>
          </pre>
        </div>

    </div>
  </body>
</html>


