
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <title>找回密码</title>
    <style>

      div.main{
        CMbackground-color: lightgreen;
        position:relative;
        left:5%;
        top:0px;
        width:90%;
      }


      .itemSize {
        width:100%;
        height:80px;
      }
      div.itemLabel{
        XXbackground-color: green;
      }
      div.itemTxt{
        XXbackground-color: yellow;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .itemBtn{
        CMbackground-color: blue;
        border-radius:20px;
      }
    </style>
    <script type="text/javascript" >
    </script>
  </head>

  <body class="main bigFont">
    <div class="main">
        <%- partial('../errorPage.ejs') %>

        <%if (actionSuccess){%>
            <div class="maxWidth bigFont">
              <h1>请注意:</h1>
              <p>密码重置邮件已经发送。</p>
              <p><b>如果你在收件箱找不到这封邮件。请在垃圾箱（或Spam folder）看看。</b>
              </p>
            </div>
        <%}%>

        <div  class="maxWidth bigFont">
            <form method="post">
              <div class="itemLabel"><span class="itemSize">请在下一行输入Email:</span></div>
              <div class="itemTxt"> <input class="itemSize bigFont" type="text" name="emailAccount"/>
              </div>
              <div class=""> <input class="itemBtn itemSize bigFont" type="submit" name="btnRequesetReset" value="请求重置密码"/>
              </div>

            </form>
        </div>
    </div>

  </body>
</html>


