
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <title>重置密码</title>
    <style>
       div.main{
        CMbackground-color: lightgreen;
        position:relative;
        left:5%;
        top:0px;
        width:90%;
      }
      .itemSize {
        width:100%;
        height:80px;
      }
      .itemBtn{
        CMbackground-color: blue;
        border-radius:20px;
      }
      ul li.withpad{
        padding-top: 10px;
      }
    </style>
    <script type="text/javascript" >
    </script>
  </head>

  <body class="main bigFont">
    <div class="main">
        <%- partial('../errorPage.ejs') %>
        <%if (successfullyReset){%>
            <div>
                <p>你成功重置了密码.</p>
            </div>
        <%}else{%>
            <h1>重置密码</h1>
            <form method="post">
              <input type="hidden" name="emailAccount" value="<%= emailAccount %>">
              <ul>
                <li class="asBlock withpad">在下一行输入密码:</li>
                <li class="asBlock withpad"><input class="itemSize bigFont" type="password" name="password"/></li>
                <li class="asBlock withpad">再次输入密码:</li>
                <li class="asBlock withpad"><input class="itemSize bigFont" type="password" name="password2"/></li>
                <li class="asBlock withpad"><input class="itemSize bigFont itemBtn" type="submit" name="btnResetPassword" value="重置密码"/></li>
              </ul>
            </form>
        <%}%>
    </div>
  </body>
</html>


