@CHARSET "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0 none;
    CCfont-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

body.main{
  background-color: lightblue;
}

.bigFont{
  CMfont-size : xx-large;
  font-size : 50px;
}
.textBold {
  font-weight:bold;
}
asBlock {
  display:block;
}

.maxWidth{
  width:100%;
}

ul{
  list-style-type: none;
}