<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lingzhimobile.huodonghaowai"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <permission
        android:name="com.lingzhimobile.huodonghaowai.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.lingzhimobile.huodonghaowai.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:enabled="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/ThemeActivity" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="50ab140352701571bd00003d" >
        </meta-data>

        <activity
            android:name=".activity.Nearby"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Navigation"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MainTabActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".activity.UploadPhoto"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HelpView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DateDetail"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WantIn"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".activity.ReportUser"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".activity.PublishDatePreview"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Conversations"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Profile"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".activity.DateList"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DateChat"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".activity.ProposeDate"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Splash"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SinglePhoto"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AskInfo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Login"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DateTitleList"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".push.C2DMReceiver" />
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>

        <!--
             Only Google services can send messages to the app. If this permission 
            were not present any other app would be able to send messages to us.
        -->
        <receiver
            android:name="com.google.android.c2dm.C2DMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive actual messages -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.lingzhimobile.huodonghaowai" />
            </intent-filter>
            <!-- Receive registration ids -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.lingzhimobile.huodonghaowai" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Settings"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OptionsFacebook"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lingzhimobile.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Sharele.huodonghaowai.activity.Share"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>